<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Existing Member?</h5>
        <p class="card-text">Get access to your garage!</p>
        <%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New Member?</h5>
        <p class="card-text">Store info about your cars with My Garage!</p>
        <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>